<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .mainmenu{
            width: 75%;
            height: 100px;
            margin: 0px auto;
        }
        .mainmenu ul li{
            float: left;

        }
    </style>
</head>
<body>
    <div class="mainmenu">
        <ul>
            <li>India
            <ul>
                <li>Rohit</li>
                <li>Virat</li>
                <li>Surya</li>                
            </ul>
            </li>
            <li>Pakistan
            <ul>
                <li>Babar</li>
                <li>Afridi</li>
            </ul>
            </li>
            <li>Australia</li>
            <li>Newzealand</li>                        
        </ul>
    </div>
    
</body>
</html>